:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .characters-body {
    flex: 1;
    overflow-y: auto;
    padding: 1.875rem;
    background: rgb(32, 35, 41);
    .characters-body-block {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      min-height: 40vh;
    }
  }
}
