:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .characters-body {
    flex: 1;
    overflow-y: auto;
    padding: 1.875rem;
    background: rgb(32, 35, 41);
    .characters-body-block {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      justify-content: space-between;
    }
  }
}
